@media screen and (min-width : 900px) {
	div.App {
		font-size : 2em;
	}

	textarea {
		font-size : 1em;
		min-width : 600px;
	}

	.pd_container {
		min-height : 100px;
	}

	.disclaimer {
		font-size : .6em;
	}

	.results_hdr {
		font-size : .8em;
	}

	div {
		margin : 20px;
	}

}

@media screen and (max-width : 900px) {
	div.App {
		font-size : .9em;
	}

	textarea {
		font-size     : .6em;
		border-radius : 5px;
		min-width     : 280px;
	}

	.disclaimer {
		font-size : .4em;
	}

	.results_hdr {
		font-size : .6em;
	}
}

div.App {
	position         : fixed;
	top              : 0;
	left             : 0;
	right            : 0;
	bottom           : 0;
	display          : flex;
	flex-direction   : column;
	justify-content  : center;
	font-family      : "SF Hello", "Helvetica Neue", sans-serif;
	font-weight      : 100;
	text-align       : center;
	background-color : #777777;
	margin           : 0;
	color            : lightgray;
}

textarea {
	border           : solid 1px darkgrey;
	background-color : transparent;
	font-weight      : 200;
	padding          : 10px;
	border-radius    : 5px;
	color            : lightgray;
	margin           : auto;
}

.pd_container {
	min-height : 100px;
}

.disclaimer {
	color      : darkgrey;
	font-style : italic;
	margin     : 10px;
}

.results_hdr {
	color : darkgrey;
}

div {
	margin : 20px;
}

div.app_container {
	max-width  : 1024px;
	max-height : 600px;
	margin     : auto;
}

.p_btn {
	background-color : transparent;
	border           : solid 1px darkgrey;
	color            : darkgrey;
	border-radius    : 5px;
}

.p_btn:hover {
	background-color : darkgrey;
	color            : #777777;
}
